html, body {
color:#000;
 font-family: Calibri;
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}


.wrapper {
    width: 95%;
    margin: 0 2.5%;
}

.select-visitor {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
  background: none;
  padding: 8px 0;
}

.hint {
  color: #888;
  margin: 0;
  font-size: 12px;
  text-align: justify;
}

.lbl-tb {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;

}

.frm-ctrl {
  color: #000;
  background: transparent;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-family: Calibri;
}

.tb {
  width:97%;
  font-size: 19px;
}

.btn {
  width: 360px;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s
  font-weight: bold;
}

.btn:hover {
  color: #2D3945;
  background: #eee;
  font-weight: bold;
}

.btn:active {
  border: 2px solid #333;
}

.submit {
 /* margin: 0 0 20px 0;*/
  text-align: center;

}

.section {
    border: 3px solid #ccc;
    border-radius: 7px;
    background: #ff0000;
    width: 900px;
    margin: 0 auto;
}

.error {
  color: white;
      width: 97%;
}

.staff-block {
    background:rgba(255, 192, 203, 0.49);
    padding: 1%;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ff0000;;
    cursor: auto;
    width: 96.5%;
    border-radius: 3px;
}

img{
  max-width: 100%;
  height: auto;
}
.logo{
  margin: 0 auto;
  width: 350px;

}

